@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  /* background-color: turquoise; */
}

#root {
  /* min-height: 100vh; */
}

#root > div {
  padding: 3rem;
  min-height: 100vh;
  transition: 0.5s all;
}

#root > div > div {
  /* padding: 4rem 0; */
}

.Day {
  background-color: white;
  color: black;
  border: 10px orange solid;
}

.Night {
  background-color: rgb(7, 0, 34);
  color: white;
  border: 10px white solid;
  /* font-family: Fruktur; */
}

.Night button {
  border: 3px white solid;
}

button {
  width: 13rem;
  color: inherit;
  background-color: inherit;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-family: inherit;
  font-weight: bold;
  border: 3px orange solid;
  transition: 0.5s all;
  font-size: 1.5rem;
}

button:hover {
  transform: translateY(-10px);
  border-bottom-width: 10px;
}

button:active {
  transform: translateY(2px);
  border-bottom-width: 3px;
}

.navbar  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
  font-weight: bold;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}

a:hover {
  text-decoration: underline;
}

.sub-navigation{
  gap: 5rem;
}

.sub-navigation.list {
  display: flex;
}

.sub-navigation.card {
  display: flex;
}

.sub-navigation a {
  font-weight: normal;
  font-size: 1rem;
}

.navbar > div > a:not(:last-of-type) {
  margin-right: 2rem;
}

.sub-navigation.card .case-study {
  border: 1px orange solid;
  border-radius: 1rem;
  padding: 1rem;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .case-study p {
  margin-bottom: 0;
} */

.fas {
  margin-left: 1rem;
  font-size: 2rem;
}

.fa-sun {
  color: orange;
}

.bold-link {
  font-weight: bold;
}

.case-study-component {
  margin-top: 2rem;
  border: orange 1px solid;
  padding: 1rem;
  border-radius: 1rem;

}